APP_ENVIRONMENT=EXAMPLE_APP_ENVIRONMENT
APP_FRONTEND_URL=EXAMPLE_APP_FRONTEND_URL

DB_HOST=EXAMPLE_DB_HOST
DB_PORT=EXAMPLE_DB_PORT
DB_USERNAME=EXAMPLE_DB_USERNAME
DB_PASSWORD=EXAMPLE_DB_PASSWORD
DB_NAME=EXAMPLE_DB_NAME

REDIS_HOST=EXAMPLE_REDIS_HOST
REDIS_PORT=EXAMPLE_REDIS_PORT
REDIS_PASSWORD=EXAMPLE_REDIS_PASSWORD
REDIS_DB_INDEX=EXAMPLE_REDIS_DB_INDEX

CORS_ORIGINS=EXAMPLE_CORS_ORIGINS

AUTH_JWT_ALGORITHM=EXAMPLE_AUTH_JWT_ALGORITHM
AUTH_JWT_SECRET_KEY=EXAMPLE_AUTH_JWT_SECRET_KEY
AUTH_VERIFICATION_TOKEN_EXPIRE_SECONDS=EXAMPLE_AUTH_VERIFICATION_TOKEN_EXPIRE_SECONDS
AUTH_ACCESS_TOKEN_EXPIRE_SECONDS=EXAMPLE_AUTH_ACCESS_TOKEN_EXPIRE_SECONDS
AUTH_REFRESH_TOKEN_EXPIRE_SECONDS=EXAMPLE_AUTH_REFRESH_TOKEN_EXPIRE_SECONDS
AUTH_REFRESH_TOKEN_PEPPER=EXAMPLE_AUTH_REFRESH_TOKEN_PEPPER
AUTH_PASSWORD_PEPPER=EXAMPLE_AUTH_PASSWORD_PEPPER

RESEND_API_KEY=EXAMPLE_RESEND_API_KEY
RESEND_FROM_EMAIL=EXAMPLE_RESEND_FROM_EMAIL