.env
*.env.*
!/.env.example

.venv/
venv/
ENV/
env/
*.pyenvrc

__pycache__/
*.py[cod]
*$py.class
*.so

.idea/
.vscode/
*.project
*.tmproj
*.sublime-workspace
*.sublime-project

build/
dist/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
MANIFEST
*.manifest
*.spec

.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.tox/
.nox/

*.log
logs/
db.sqlite3
db.sqlite3-journal
local_settings.py

.DS_Store
Thumbs.db
Desktop.ini

.ipynb_checkpoints

pip-log.txt
pip-delete-this-directory.txt

*.swp
*.swo
*~